@import config.ApplicationConfig
@import utils.TaxsBreadcrumbLinks

@(links: List[String], currentPage: String, taxYear: Int, isLandingPage: Boolean = false)(implicit lang: Lang, request: Request[AnyRef], messages: Messages)

<div id="global-breadcrumb" class="header-context">
      <ol class="group">
          @if(!utils.AccountUtils.isPortalUser(request)) {
          <li><a href="@ApplicationConfig.ytaUrl">@Html(Messages("breadcrumbs.yta.home"))</a></li>
          }
          @for(link <- links) {
              @if(link == "breadcrumbs.taxs.select_tax_year") {
                @if(request.session.get("TaxYearListLength").getOrElse("0") != "1") {
                    <li><a href="@TaxsBreadcrumbLinks.getLink(link)">@Html(Messages(link))</a></li>
                }
              } else {
                <li><a href="@TaxsBreadcrumbLinks.getLink(link)?taxYear=@taxYear">@Html(Messages(link))</a></li>
              }
          }
          @if(!(utils.AccountUtils.isPortalUser(request) && isLandingPage)) {
          <li><strong>@Html(Messages(currentPage))</strong></li>
          }
      </ol>
</div>
