 .percentage,
 .value {
   display: block;
   margin-bottom: 20px;
   float: left;
   width: 66.66%;
 }

 .percentage {
   clear: both;
   text-align: right;
   margin-right: 10px;
   width: 30%;
 }

 .value {
   position: relative;
   top: -25px;
 }

 .bar-chart {
   position: relative;
   top: 14px;
   background-color: #28a197;
   border: 2px solid #296969;
   display: inline-block;
   height: 40px;
   margin-right: 10px;
 }