@import uk.gov.hmrc.play.frontend.auth.{AuthContext => User}

@()(implicit lang: Lang, request: Request[AnyRef], user: User, messages: Messages)

@headerContent = {
@includes.taxs_breadcrumb(List("breadcrumbs.taxs.select_tax_year"), "breadcrumbs.taxs.no_ats_error", 0)

<h1 id="generic-error-page-heading" aria-level="1" role="heading">@Html(Messages("generic.error.title"))</h1>
}

@includes.taxs_main(title = Messages("generic.error.html.title"), utils.AccountUtils.getAccountId(user), contentHeader = Option(headerContent)) {

<p>@Html(Messages("generic.error.lede"))</p>

}
