@import uk.gov.hmrc.play.frontend.auth.{AuthContext => User}

@()(implicit lang: Lang, request: Request[AnyRef], user: User, messages: Messages)

@headerContent = {
@includes.taxs_breadcrumb(List("breadcrumbs.taxs.select_tax_year"), "breadcrumbs.taxs.no_ats", 0)

<h1 id="zero-income-page-heading" aria-level="1" role="heading">@Html(Messages("no.ats.title"))</h1>
}

@includes.taxs_main(title = Messages("no.ats.html.title"), utils.AccountUtils.getAccountId(user), contentHeader = Option(headerContent)) {
  <p>@Html(Messages("no.ats.line1"))</p>
  <p>@Html(Messages("no.ats.line2"))</p>
}
