@import uk.gov.hmrc.play.frontend.auth.{AuthContext => User}

@()(implicit lang: Lang, request: Request[AnyRef], user: User, messages: Messages)

@headerContent = {
    @includes.taxs_breadcrumb(List("breadcrumbs.taxs.index"), "token_error.html.title", 0)
    <h1 id="error-page-heading" aria-level="1" role="heading">@Html(Messages("token_error.title"))</h1>
}

@includes.taxs_main(title = Messages("token_error.html.title"), utils.AccountUtils.getAccountId(user), contentHeader = Option(headerContent)) {

<p>@Html(Messages("token_error.lede"))</p>

}
