/*= Tax summary index page ----------------------------------------------*/
 #taxable-income a, #tax-calculated-as a, #tax-free-amount a, #capital-gains a {
     display: inline-block;
     *display: inline;
     text-decoration: none;
     overflow: hidden;
}

 .display-block {
     display: block;
}
 a, a:visited {
    color:#005ea5;
}

 .hmrc-logo-print {
     display: none;
}
 .print-this {
     border-bottom: 1px solid #000;
     position: relative;
     display: inline;
}
 .print-this__icon {
     left: 0;
     position: absolute;
     top: 2px;
}
 .print-this__link {
     color: #000;
     font-size: 16px;
     padding-left: 25px;
     text-decoration: none;
     font-family: "GDS Transport", Arial, sans-serif;
}

 #howTaxIsSpentTable td:first-child, #totalUkIncomeTax th {
     font-weight: 700;
}

 #adjustments-table {
     margin-top: 2.0em;
}
 #national-insurance-contribution-table {
     margin-top: 2.0em;
}


.info-header-section {
    margin-top: 0.5em;
}


#timeout-keep-signin-btn {
    font-size: 19px;
}

#timeout-sign-out-link {
    vertical-align: sub;
}

.incomeTaxesSection {
    margin-bottom: 3em;
    padding: 0;
}

#your-total-tax, #income_after_tax_and_nics {
   margin-bottom: 6em;
}


#tax-spent {
        .content, #tax-spent-header, #tax-spent-footer {
            display: flex;
            flex-flow: row nowrap;
            margin: 1em 0 0.2em;
        }

        .graph-green-bar {
            border-bottom: 10px solid #28a197;
        }

        .graph-grey-bar {
            border-top: 2px solid #b1b4b6;
        }

        dd {
            flex-grow: 1;
            padding: 0;
            margin: 0;
        }

        dt {
            flex-grow: 3;
            padding: 0;
            margin: 0;
        }

        dd {
          text-align: right;
        }

        #tax-spent-header, #tax-spent-footer {
            margin-top: 2em;
        }

        #tax-spent-footer {
            margin-bottom: 2em;
        }
        
        .heading-medium {
            margin: 0;
        }

        @media (min-width: 40.0625em) {
            .govuk-summary-list__row--no-actions:after {
                width: 0;
            }
        }
}
