@media (min-width: 48.0625em) {
    .govuk-header__logo {
        margin-bottom: 0;
        width: 33.33%;
        padding-right: 15px;
        float: left;
        vertical-align: top;
    }
}

.govuk-header__logo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.govuk-header__logo {
    padding-right: 50px;
    padding-left: 15px;
    padding-top: 2px;
}


.govuk-header__link--homepage:link, .govuk-header__link--homepage:visited {
    text-decoration: none;
}


.govuk-header__link:link, .govuk-header__link:visited {
    color: #fff;
}

.govuk-header__link--homepage {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    line-height: 1;
}

.govuk-header__logotype {
    display: inline-block;
}

.govuk-header__logotype-crown {
    position: relative;
    top: -1px;
    margin-right: 1px;
    fill: currentColor;
    vertical-align: top;
}

.govuk-header__logotype-text {
    line-height: 1.1;
}

.govuk-header__link--homepage:active, .govuk-header__link--homepage:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid;
}
