@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }



#wrapper #content .page-header #user-info {
  float: right;
  text-align: right; }
#wrapper #content .page-header h1 {
  clear: right; }

h1.heading-xlarge, .heading-48 {
    padding: 25px 0 15px !important;
}


 #wrapper #content #user-info {
     float: right;
     clear: both;
     text-align: right;
}


a.data-link + p {
  margin-top: 5px;
  margin-bottom: 20px; }



/*= Resets
---------------------------------------------------------------------------*/
html {
  background-color: #fff; }

.header-global {
  float: right !important;
  margin-bottom: 15px;
  width: auto !important; }

a {
  text-decoration: none !important;
  color: #0b0c0c; }

#user-info {
  clear: both; }

.header__menu__proposition-name {
  color: #0b0c0c; }

#content a {
  text-decoration: none !important;
  color: #0b0c0c; }
#content article {
  width: 100% !important; }
  #content article table {
    margin-top: 0; }

/*= Hide these items
---------------------------------------------------------------------------*/
.js-header-toggle.menu,
.phase-tag, .alpha-tag,
.phase-banner, .alpha-banner, .beta-banner,
.service-info,
.breadcrumbs,
.back,
.report-error, .langToggle, .link-back {
  display: none !important; }

/*= Remove urls being pasted after links
---------------------------------------------------------------------------*/
a[href]:after {
  content: none !important; }

/*= Tax calculation
---------------------------------------------------------------------------*/
#capital-gains {
  page-break-inside: avoid; }

.data-link span {
  text-decoration: none !important; }


/*= Print hidden
---------------------------------------------------------------------------*/
.print-hidden, .header-wrapper, .service-info, .report-error, #english-switch, #welsh-switch, #continue, #secondary-nav, .hmrc-language-select, .govuk-header, footer, .hmrc-report-technical-issue, .govuk-phase-banner  {
    display: none !important;
}


/*---------------------------------------------------------------------------*/
.display-block {
  display: block;
}


a.data-link, #total-income-tax a {
  color: #0b0c0c;
}

.hmrc-logo-print {
    display: block;
    border-left: #28A197 solid;
    padding-left: 8px;
}
.hmrc-logo-print h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    line-height: 1;
}
.hmrc-logo-print h2 span {
    display: block;
}

.print-this {
    display: none;
}

.govuk-\!-font-size-48 {
  font-size: 2.5em !important;
}

.govuk-heading-l {
  font-size: 2em !important;
}