#taxable-income a, #tax-calculated-as a, #tax-free-income a, #capital-gains a {
     display: inline-block;
     display: inline;
     text-decoration: none;
     overflow: hidden;
}

 .display-block {
     display: block;
}
 a, a:visited {
   color:#005ea5;
}

 .hmrc-logo-print {
     display: none;
}

.print-this {
     display: inline-flex;
     gap: .5em;
     justify-content: end;
}

.print-this__link {
     border-bottom: 1px solid #000;
     color: #000;
     font-size: 16px;
     text-decoration: none;
     font-family: "GDS Transport", Arial, sans-serif;
}

#tax-spent .content {
    display: flex;
    flex-flow: row nowrap;
    margin: 1em 0 0.2em;
}

body:not(.js-enabled) .print-this {
  display: none;
}


meter {
  width: 100%;
  border-radius: 0;
}

meter::-webkit-meter-optimum-value {
  background: #28a197;
  height: 100%;
}

meter::-webkit-meter-bar {
  background: none;
  padding:0;
  margin:0;
}

meter,
meter::-webkit-meter-bar {
    /*to remove the default background property */
    background: none;
    height: 10px;
    overflow: hidden;
}

/*for meter bar*/
meter::-webkit-meter-optimum-value {
    background: none;
    background-color: #28a197;
}
:-moz-meter-optimum::-moz-meter-bar {
    background: none;
    background-color: #28a197;
}

td:has(meter) {
  line-height: 0.5em
}

.border-none{
    border: none
}