@(viewModel: view_models.Summary, actingAsAttorney: Option[uk.gov.hmrc.play.frontend.auth.ActingAsAttorneyFor] = None)(implicit lang: Lang, request: Request[AnyRef], messages: Messages)

@headerContent = {
  @includes.taxs_breadcrumb(List("breadcrumbs.taxs.select_tax_year", "breadcrumbs.taxs.index", "breadcrumbs.taxs.summary"), "breadcrumbs.taxs.nics", viewModel.year)
  @if(lang.language == "cy"){
    <a id="english-switch" href=@controllers.routes.TaxsLanguageController.switchLanguage("en") data-journey-click="Language:Select:English">@Html(Messages("generic.english"))</a>
  } else {
    <a id="welsh-switch" href=@controllers.routes.TaxsLanguageController.switchLanguage("cy") data-journey-click="Language:Select:Welsh">@Html(Messages("generic.welsh"))</a>
  }
  @if(actingAsAttorney.isDefined) {
    <div class="nested-banner">
      <p id="agent-banner">@{Messages("generic.acting_for").mkString} @{actingAsAttorney.get.name.getOrElse(Messages("generic.name_not_defined")).split(" ").map(_.capitalize).mkString(" ")}.</p>
    </div>
  }
  @if(!actingAsAttorney.isDefined){
    <p id="user-info"><strong>@viewModel.forename @viewModel.surname</strong> <br>@Html(Messages("generic.utr")) @viewModel.utr</p>
  }
  <h1 aria-level="1" role="heading">
    <span class="gray heading-medium block-heading">
      @Html(Messages("generic.tax_year_heading", viewModel.taxYearFrom, viewModel.taxYearTo))
    </span>
    @Html(Messages("ats.nics.tax_and_nics.title"))
  </h1>
}

@includes.taxs_main(title = Messages("ats.nics.tax_and_nics.title") + Messages("generic.to_from", viewModel.taxYearFrom, viewModel.taxYearTo), viewModel.utr, contentHeader = Option(headerContent), actingAttorney = actingAsAttorney) {
<article class="content__body">
  <div class="grid grid-2-3">
  <p class="lede">@Html(Messages("ats.nics.tax_and_nics.lede"))</p>
    <p>@Html(Messages("ats.nics.tax_and_nics.description",
      "<span id=\"total-cg-tax-rate\">"+viewModel.nicsAndTaxRate.percent+"</span>"))</p>

    <table id="total-income-tax">
      <thead>
        <tr>
          <th scope="col">@Html(Messages("generic.description"))</th>
          <th scope="col">@Html(Messages("generic.amount_pounds"))</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <a href="@controllers.routes.TotalIncomeTaxController.authorisedTotalIncomeTax()?taxYear=@viewModel.taxYearTo">
                  @Html(Messages("ats.nics.tax_and_nics.income_tax"))
              </a>
          </td>
          <td id="total-income-tax-amt">@includes.currency_amount(viewModel.totalIncomeTaxAmount)</td>
        </tr>
        <tr>
          <td>@Html(Messages("ats.nics.tax_and_nics_explained"))</td>
          <td id="employee-nic-amount">@includes.currency_amount(viewModel.employeeNicAmount)</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">@Html(Messages("ats.nics.tax_and_nics.total"))</th>
          <td id="total-income-tax-and-nics" class="no-bold">@includes.currency_amount(viewModel.totalIncomeTaxAndNics)</td>
        </tr>
      </tfoot>
    </table>

    <div class="back">
      <a href="@controllers.routes.SummaryController.authorisedSummaries()?taxYear=@viewModel.taxYearTo">@Html(Messages("generic.back"))</a>
    </div>
</div>
</article>

}
