@(viewModel: view_models.Summary, actingAsAttorney: Option[uk.gov.hmrc.play.frontend.auth.ActingAsAttorneyFor] = None)(implicit lang: Lang, request: Request[AnyRef], messages: Messages)

@headerContent = {
    @includes.taxs_breadcrumb(List("breadcrumbs.taxs.select_tax_year", "breadcrumbs.taxs.index"), "ats.summary.title", viewModel.year)
    @if(lang.language == "cy"){
        <a id="english-switch" href=@controllers.routes.TaxsLanguageController.switchLanguage("en") data-journey-click="Language:Select:English">@Html(Messages("generic.english"))</a>
    } else {
        <a id="welsh-switch" href=@controllers.routes.TaxsLanguageController.switchLanguage("cy") data-journey-click="Language:Select:Welsh">@Html(Messages("generic.welsh"))</a>
    }
    @if(actingAsAttorney.isDefined) {
        <div class="nested-banner">
            <p id="agent-banner">@{Messages("generic.acting_for").mkString} @{actingAsAttorney.get.name.getOrElse(Messages("generic.name_not_defined")).split(" ").map(_.capitalize).mkString(" ")}.</p>
        </div>
    }
    @if(!actingAsAttorney.isDefined){
        <p id="user-info"><strong>@viewModel.forename @viewModel.surname</strong> <br>@Html(Messages("generic.utr")) @viewModel.utr</p>
    }
    <h1 aria-level="1" role="heading">
        <span class="gray heading-medium block-heading">
            @Html(Messages("generic.tax_year_heading", viewModel.taxYearFrom, viewModel.taxYearTo))
        </span>
        @Html(Messages("ats.summary.title"))
    </h1>
    <p class="lede">@Html(Messages("ats.summary.lede"))</p>
}

@includes.taxs_main(title = Messages("ats.summary.html.title") + Messages("generic.to_from", viewModel.taxYearFrom, viewModel.taxYearTo), viewModel.utr, contentHeader = Option(headerContent), actingAttorney = actingAsAttorney) {

    <section id="taxable-income">

        <h2 aria-level="2" role="heading">@Html(Messages("ats.summary.total_income.title"))</h2>

        <a href="@controllers.routes.IncomeController.authorisedIncomeBeforeTax()?taxYear=@viewModel.taxYearTo" class="data-link">
            <span class="visuallyhidden">@Html(Messages("screen.reader.total_income")) </span>
            <span class="bold-xlarge" id="income-before-tax-amount">@includes.currency_amount(viewModel.yourIncomeBeforeTax)</span><br>
            <span class="bold-small" aria-hidden="true">@Html(Messages("ats.summary.total_income.link"))</span>
        </a>

        <p class="text">@Html(Messages("ats.summary.total_income.description"))</p>

    </section>

    <section id="tax-free-amount">

        <h2 aria-level="2" role="heading">@Html(Messages("ats.summary.tax_free.title"))</h2>

        <a href="@controllers.routes.AllowancesController.authorisedAllowance()?taxYear=@viewModel.taxYearTo" class="data-link">
            <span class="visuallyhidden">@Html(Messages("screen.reader.tax_free_amount")) </span>
            <span class="bold-xlarge" id="total-tax-free-amount">@includes.currency_amount(viewModel.totalTaxFreeAllowance)</span><br>
            <span class="bold-small" aria-hidden="true">@Html(Messages("ats.summary.tax_free.link"))</span>
        </a>

        <p class="text">@Html(Messages("ats.summary.tax_free.description"))</p>

    </section>

    <section id="tax-calculated-as">

        <h2 id="tax-and-nics-title" aria-level="2" role="heading">@Html(Messages(viewModel.yourTotalTaxTextKey))</h2>

        <a href="@controllers.routes.NicsController.authorisedNics()?taxYear=@viewModel.taxYearTo" class="data-link">
            <span class="visuallyhidden">@Html(Messages("screen.reader.income_tax_and_ni")) </span>
            <span class="bold-xlarge" id="total-income-tax-and-nics">@includes.currency_amount(viewModel.totalIncomeTaxAndNics)</span><br>
            <span class="bold-small" aria-hidden="true">@Html(Messages("ats.summary.tax_and_nics.link"))</span>
        </a>

        <p class="text">@Html(Messages("ats.summary.tax_and_nics.description"))</p>

    </section>


    @if(viewModel.hasTaxableGains) {
    <section id="capital-gains">

        <h2 aria-level="2" role="heading">@Html(Messages("ats.summary.capital_gains.title"))</h2>

        <a href="@controllers.routes.CapitalGainsTaxController.authorisedCapitalGains()?taxYear=@viewModel.taxYearTo" class="data-link">
            <span class="visuallyhidden">@Html(Messages("screen.reader.capital_gains_tax")) </span>
            <span class="bold-xlarge" id="total-capital-gains-tax">@includes.currency_amount(viewModel.totalCapitalGainsTax)</span><br>
            <span class="bold-small" aria-hidden="true">@Html(Messages("ats.summary.capital_gains.link"))</span>
        </a>

      @if(!viewModel.totalCapitalGainsTax.isZero) {
		<p id="total-cg-description" class="text">@Html(Messages("ats.summary.capital_gains.description"))</p>
      }

    </section>
    }

    <section id="your-total-tax">

        <h2 aria-level="2" role="heading">@Html(Messages("ats.summary.total_tax.your_total_tax"))</h2>

        <p class="bold-xlarge">
            <span class="visuallyhidden" id="total-tax-amount-description">
            @if(lang.code == "cy-GB"){
            @Html(Messages("ats.summary.taxable_income.your_total_tax_msg")) @Html(Messages("generic.is")) @includes.currency_amount(viewModel.yourTotalTax)
            } else {
            @Html(Messages(viewModel.yourTotalTaxTextKeys._1,
            (viewModel.yourTotalTaxTextKeys._2 map {key:String => Html(Messages(key)) }):_*)) @Html(Messages("generic.is")) @includes.currency_amount(viewModel.yourTotalTax)}</span>
            <span id="total-tax-amount" aria-hidden="true">@includes.currency_amount(viewModel.yourTotalTax)</span>
        </p>

        <p id="total-tax-description" class="bold-small" aria-hidden="true">
            @if(lang.code == "cy-GB"){
            @Html(Messages("ats.summary.taxable_income.your_total_tax_msg"))
            } else {
            @Html(Messages(viewModel.yourTotalTaxTextKeys._1,
            (viewModel.yourTotalTaxTextKeys._2 map {key:String => Html(Messages(key)) }):_*))
            }
        </p>

    </section>

    <div class="back">
        <a href="@controllers.routes.AtsMainController.authorisedAtsMain()?taxYear=@viewModel.taxYearTo">@Html(Messages("generic.back"))</a>
    </div>
}
